@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body{
    margin: 0;
    overflow-x: hidden;
    min-height: 100%;
    display: flex !important;
    flex-direction: column !important;
    text-align: justify;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/bush.png") !important;
    background-position: center;
    background-attachment: fixed;
   

}
table{
    font-family: 'Nunito', sans-serif !important;
    font-size: 2em;
    font-weight: 400 !important;
}
Footer{
    padding: 3em;
    margin-top: auto !important;
    width: 100vw;
    background-color: black !important;
}
.footerText{
    text-align: center;
    color: wheat;
}
.navbar{
    background-color: rgba(0,0,0,0.2);
    color: wheat !important;   
}
.navbar a {
    color: #30475e;
}
.file-wrapper{
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    padding: 4em;
    margin-left: auto;
    margin-right: auto;
}